* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mobile_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
  z-index: 100;
  transition: 0.4s;
  padding: 15px 0px;
  border-bottom: 2px solid #fff;
  display: none;
  .mobile_menu_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    margin: auto;
    .mobile_menu_left {
      img {
        width: 200px;
      }
    }
    .mobile_menu_right {
      .fa-bars {
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        border: 2px solid #fff;
        padding: 7px;
      }
      .mobile_menu_link {
        transition: 0.4s ease;
        margin-right: -100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        .mobile_menu_link_inner {
          position: absolute;
          width: 75%;
          right: 0;
          top: 0;
          background-color: #fff;
          height: 100vh;
          a {
            display: block;
            color: #000;
            font-size: 17px;
            font-weight: 500;
            border-bottom: 1px solid #ddd;
            padding: 15px 5px;
            text-decoration: none;
            &:hover {
              background-color: #ddd;
            }
          }
        }
        &.mobileNav {
          margin-right: 0px;
        }
      }
    }
  }
}
// media query
@media screen and (max-width: 1100px) {
  .mobile_header {
    display: block;
    .mobile_menu_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 94%;
      margin: auto;
      .mobile_menu_right {
        .mobile_menu_link {
          .mobile_menu_link_inner {
            position: absolute;
            width: 50%;
            right: 0;
            top: 0;
            background-color: #fff;
            height: 100vh;
          }
        }
      }
    }
  }
}
// media 710px
@media screen and (max-width: 720px) {
  .mobile_header {
    .mobile_menu_inner {
      .mobile_menu_right {
        .mobile_menu_link {
          .mobile_menu_link_inner {
            width: 75%;
          }
        }
      }
    }
  }
}
